build/
image/
dl/
tool/**/__pycache__/
.config
.config.old
.config.cmake
.vscode/
auto-generate/
*.evn.json
.clangd
.venv/
.git.mirror-source.json
.cache/
.codex
.claude/
.omc/
CLAUDE.md
.PATH.env.json
.opencode/
