
choice
    prompt "Select a common platform project"
    default PROJECT_COMMON_NONE 


config PROJECT_COMMON_NONE
    bool "None"
    help
      Select this if you do not want to set any project.

config PROJECT_COMMON_DEMO
    bool "COMMON demo project"
    select  COMMON_PROJECT_SET
    help
        Select this option to enable Module COMMON DEMO.

endchoice

if COMMON_PROJECT_SET
config PROJECT
    string
    default "common-demo" if PROJECT_COMMON_DEMO
endif
