
choice
    prompt "Select CPU Architecture"
    default ARCH_MCXN947 

    config ARCH_MCXN947
        bool "mcxn947"
        help
            Select this option if you are targeting mcxn947 architecture.

    config ARCH_GD32F10X
        bool "gd32f10x"
        help
            Select this option if you are targeting gd32f10x architecture.

    config ARCH_GD32E23X
        bool "gd32e23x"
        help
            Select this option if you are targeting gd32e23x architecture.
    
    config ARCH_GD32VF103X
        bool "gd32vf103x"
        help
            Select this option if you are targeting gd32vf103x architecture.

    config ARCH_STM32F0XX
        bool "stm32f0xx"
        help
            Select this option if you are targeting stm32f0xx architecture.
    
    config ARCH_STM32F1XX
        bool "stm32f1xx"
        help
            Select this option if you are targeting stm32f1xx architecture.
    
    config ARCH_STM32F4XX
        bool "stm32f4xx"
        help
            Select this option if you are targeting stm32f4xx architecture.
    
    config ARCH_STM32H7XX
        bool "stm32h7xx"
        help
            Select this option if you are targeting stm32h7xx architecture.
    
    config ARCH_CH58X
        bool "ch58x"
        help
            Select this option if you are targeting ch58x architecture.
    

endchoice

config ARCH
    string
    default "mcxn947"                   if ARCH_MCXN947
    default "gd32/arm/gd32f10x"         if ARCH_GD32F10X
    default "gd32/arm/gd32e23x"         if ARCH_GD32E23X
    default "gd32/risc-v/gd32vf103"     if ARCH_GD32VF103X
    default "stm32/stm32f0xx"           if ARCH_STM32F0XX
    default "stm32/stm32f1xx"           if ARCH_STM32F1XX
    default "stm32/stm32f4xx"           if ARCH_STM32F4XX
    default "stm32/stm32h7xx"           if ARCH_STM32H7XX
    default "ch58x"                     if ARCH_CH58X
    
