menuconfig PACKAGE_EHIP_TOOLS
    bool "EHIP Tools Configuration"
    help
      Enable support for the ehip tools.
      Selecting this option makes subcommands available.
    select PACKAGE_EVENTHUB
    select PACKAGE_EHIP
    select PACKAGE_ARGUMENT_PARSER
    select PACKAGE_EHSHELL

if PACKAGE_EHIP_TOOLS

config PACKAGE_EHIP_TOOLS_PING
    bool "Enable ping command"
    default n
    help
      Enable the ping command in the ehip tool.

config PACKAGE_EHIP_TOOLS_NSLOOKUP
    bool "Enable nslookup command"
    default n
    help
      Enable the nslookup command in the ehip tool.

config PACKAGE_EHIP_TOOLS_IFCONFIG
    bool "Enable ifconfig command"
    default n
    help
      Enable the ifconfig command in the ehip tool.

config PACKAGE_EHIP_TOOLS_ROUTE
    bool "Enable route command"
    default n
    help
      Enable the route command in the ehip tool.

endif
