CONFIG_PROJECT_MCXN947_ETH_DEMO=y
CONFIG_PACKAGE_EHIP_TOOLS=y
CONFIG_PACKAGE_EHIP_TOOLS_PING=y
CONFIG_PACKAGE_EHIP_TOOLS_NSLOOKUP=y
CONFIG_PACKAGE_EHSHELL=y
CONFIG_PACKAGE_EHSHELL_PASSWORD="1"
CONFIG_PACKAGE_EHSHELL_BUILTIN_SEGGER_RTT=y
CONFIG_PACKAGE_EHSHELL_BUILTIN_TELNET_SERVER=y
