

choice
    prompt "Select a mcxn947 platform project"
    default PROJECT_MCXN947_NONE
    depends on ARCH_MCXN947

config PROJECT_MCXN947_NONE
    bool "None"
    help
      Select this if you do not want to set any project.

config PROJECT_MCXN947_DEMO
    bool "MCXN947 demo project"
    help
        Select this option to enable Module MCXN947 DEMO.
    select PACKAGE_EVENTHUB_OS
    select PACKAGE_SEGGER_RTT

config PROJECT_MCXN947_ETH_DEMO
    bool "MCXN947 eth demo project"
    help
        Select this option to enable Module MCXN947 eth DEMO.
    select PACKAGE_EVENTHUB_OS
    select PACKAGE_SEGGER_RTT
    select PACKAGE_EHIP

endchoice


config PROJECT
    string
    default "mcxn947/mcxn947-demo" if PROJECT_MCXN947_DEMO
    default "mcxn947/mcxn947-eth-demo" if PROJECT_MCXN947_ETH_DEMO

