

choice
    prompt "Select a stm32f1xx platform project"
    default PROJECT_STM32F1XX_NONE
    depends on ARCH_STM32F1XX

config PROJECT_STM32F1XX_NONE
    bool "None"
    help
      Select this if you do not want to set any project.

config PROJECT_STM32F103C6_DEMO
    bool "STM32F103C6 demo project"
    help
        Select this option to enable Module STM32F103C6 DEMO.
    select PACKAGE_EVENTHUB_OS
    select PACKAGE_SEGGER_RTT
    
endchoice


config PROJECT
    string
    default "stm32f1xx/stm32f103c6-demo" if PROJECT_STM32F103C6_DEMO

